/********************
******* CARD *******
******************/

.back__card__img {
  position: absolute;
  top: 120%;
  left: 10%;
}

.left--round {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  border: none;
  top: 5%;
  left: 5%;
}
.right--round {
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  background-color: transparent;
  border: solid #fff;
  position: absolute;
  top: 11%;
  left: 20%;
}

.card__number {
  color: #fff;
  font-size: 2.8rem;
  position: absolute;
  letter-spacing: 4px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  top: 50%;
  left: 8%;
  background-color: transparent;
  border: 0px solid;
}

.cvc__code {
  position: absolute;
  top: 1100%;
  left: 95%;
}

/********************
*** CARDHOLDER NAME **
******************/

input {
  padding-left: 1rem;
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: left;
}

.username__label {
  font-size: 1.2rem;
}

.username {
  margin-bottom: 45rem;
}

.cvc__fc {
  font-size: 1.2rem;
  position: absolute;
  top: 53%;
  right: 28.5%;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.card__mm__yy {
  display: flex;
  position: absolute;
  top: 85%;
  left: 5%;
  gap: 25rem;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
}

.exp--date {
  display: flex;
  gap: 1rem;
}

.m__m {
  height: 40px;
  width: 90px;
}

.y__y {
  height: 40px;
  width: 90px;
}

.c__vc {
  height: 40px;
  width: 100px;
}

.username {
  margin-bottom: 20rem;
}

.exp {
  margin-top: 2rem;
}

/*******************
** BUTTON *********/

.confirm {
  height: 40px;
  width: 400px;
  margin-left: 5rem;
  margin-top: 2rem;
  background-color: hsl(278, 68%, 11%);
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
